body{
    margin: 0;
    padding: 0;
    background-color: #8B3A1A;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    z-index: 2;
}

.clock{
    position: relative;
    background-color: #2C0E06;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 5px solid #E8D5A0;
    box-shadow: 1px 1px 4px rgba(243, 190, 93, 0.7);
}

.numbers div{
    position: absolute;
    font-size: 27px;
    font-weight: bold;
    color: #E8D5A0;
    text-shadow: 1px 1px 2px rgba(243, 190, 93, .7)
}

.twelve{
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
}

.three{
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
}
.six{
    bottom: 6px;
    left: 50%;
    transform: translate(-50%);
}
.nine{
    top: 50%;
    left: 12px;
    transform: translate(-50%);
}

.arrows{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.arrows::before{
    content: "";
    width: 25px;
    height: 25px;
    background-color: #8B3A1A;
    border-radius: 50%;
    box-shadow: #cd673f;
    z-index: 4;
}

.arrows div{
    background-color: #D4845A;
    width: 7px;
    position: absolute;
    height: 125px;
    transform-origin: bottom center;
    bottom: 50%;
    z-index: 3;
    border-radius: 50% 50% 0 0;
    box-shadow: 1px 1px 2px rgba(243, 190, 93, .7);
}

.arrows .hour{
    height: 80px;
    transform: rotate(30deg);
}
.arrows .second{
   background-color: #F2E8D9;
    transform: rotate(250deg);
}

